{% load render_bundle from webpack_loader %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta name="theme-color" content="#F3DFD9"/>
    <meta name="description" content="Jessdefiance"/>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
<!--    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">-->
<!--    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">-->
<!--    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">-->
<!--    <link rel="manifest" href="{% static 'site.webmanifest' %}">-->
<!--    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">-->
    <meta name="apple-mobile-web-app-title" content="Jessdefiance">
    <meta name="application-name" content="Jessdefiance">
    <meta name="msapplication-TileColor" content="#f3dfd9">
    <meta name="theme-color" content="#f3dfd9">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.core.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.bubble.css">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
    <title>Jessdefiance</title>
    {% render_bundle 'main' 'css' %}
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    {% render_bundle 'main' 'js' %}
    {% render_bundle 'runtime-main' %}
    {% render_bundle 'undefined' 'js' %}
</body>
</html>
